
/*GALERIA-ZOOM IMAGENES ---------------------------------------------------------------------------------------------------------------------*/
.imagen-galeria {
    cursor: pointer;
    overflow: hidden;
}

.galeria {
    transition: transform .5s ease;
}

.galeria:hover {
    transform: scale(1.020);
}