 .slide {
    min-width: 300px;
    max-width: 1920px;
    overflow: hidden;
    }

.carousel {
   max-height: 600px;
}

.container-fluid {
   padding: 3px;
}

.bajada {
   margin-left: 2%;
}


.navbar-brand {
   margin-left: 2%;
}
    